@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #069a44;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #02632b;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: rebeccapurple;
  width: 100vw;
  overflow-x: hidden;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
}
header .header-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
  opacity: 0.7;
  z-index: 2;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
header nav {
  height: 54px;
  width: 99vw !important;
  margin: 0 0.5vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  height: 48px;
  z-index: 4;
}
header nav .gbs_logo {
  width: 48px;
}
header nav .kpi_banner {
  width: fit-content;
}
header nav .kpi_logo {
  width: 48px;
}

.carousel {
  z-index: 10;
}
.carousel .carousel-item img {
  height: 80vh;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s;
}
.carousel .carousel-item img:hover {
  opacity: 1;
}

.menu {
  height: 48px;
  width: 100%;
  background-color: #16c16e;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 48px;
}
.menu a {
  color: #292929;
  font-family: "Lato", sans-serif;
  font-size: 1.1vw;
  text-decoration: none;
}
.menu .active {
  color: #e2e2e2;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.sidebar {
  height: 100vh;
  width: 20vw;
  background-color: #318b5e;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 8px;
  padding-top: 52px;
}
.sidebar a {
  color: #e2e2e2;
  text-decoration: none;
  font-size: 14px;
  margin-top: 24px;
  padding: 0 6px;
}
.sidebar a:hover {
  color: #f3f3f3;
}

.metabody {
  width: 60vw;
  background-color: #f3f3f3;
}

.newsPanel {
  height: 48px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex-basis: content;
  background-color: #ebebeb;
}
.newsPanel div:first-of-type {
  width: 30%;
  text-align: center;
  font-weight: bold;
}
.newsPanel div:last-of-type {
  width: 70%;
}

.noticeBoard {
  background-color: #e5e5f7;
  background-image: linear-gradient(#d4d4d4 2px, transparent 2px), linear-gradient(90deg, #d4d4d4 2px, transparent 2px), linear-gradient(#d4d4d4 1px, transparent 1px), linear-gradient(90deg, #d4d4d4 1px, #e5e5f7 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  min-height: 200px;
  max-height: max-content;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1882352941);
}
.noticeBoard h3 {
  margin: 0;
  padding: 12px 24px;
}
.noticeBoard p {
  padding: 12px 24px;
}

.welcomeBoard {
  margin-top: 24px;
}
.welcomeBoard .heading {
  background-color: #318b5e;
  color: #e2e2e2;
}
.welcomeBoard p {
  padding: 34px;
  border: solid 0.5px #292929;
}

.card {
  background-color: #f3f3f3;
  margin: 24px auto;
}

.navigation-pan-box {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.navigation-navigator > li > a {
  color: #069a44;
  font-weight: bold;
  text-decoration: none;
}
.navigation-navigator > li > a:hover {
  color: #02632b;
}

.at-once, .map {
  width: 48%;
}
.at-once .heading, .map .heading {
  background-color: #02632b;
  color: #f3f3f3;
}

.yt-frame {
  width: 100%;
  aspect-ratio: 1/0.75;
}

.map-contain {
  width: 100%;
}
.map-contain img {
  width: 100%;
  aspect-ratio: 1/0.75;
  object-fit: cover;
}

.rightSide {
  height: auto;
  width: 20vw;
}

.biography {
  height: fit-content;
}
.biography .bio {
  margin-top: 24px;
}
.biography .bio .heading {
  background-color: #318b5e;
  color: #f3f3f3;
}
.biography .bio img {
  width: 100%;
  aspect-ratio: 1/1;
}
.biography .bio .bio-details {
  height: fit-content;
  width: 100%;
}
.biography .bio .bio-details a {
  color: #292929;
  display: block;
}

.notice {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 8px;
  padding-top: 52px;
}
.notice .heading {
  background-color: #318b5e;
  width: 100%;
  color: #f3f3f3;
}

footer {
  background-color: #efefef;
}

.footer-list {
  margin: 0;
  padding: 0;
  padding-left: 1vw;
  list-style: none;
}
.footer-list li {
  margin: 28px 0;
  padding: 0;
}
.footer-list li a {
  color: #292929;
  text-decoration: none;
  font-weight: bold;
}

.footer-address p {
  margin: 28px 0;
}
.footer-address p a {
  color: #292929;
}

@media (max-width: 767.98px) {
  .metabody {
    width: 100vw;
  }
  .rightSide {
    width: 100vw;
  }
  main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .menu {
    padding: 0 12px;
  }
  .menu a {
    font-size: 2vw;
  }
  .navigation-pan-box {
    display: block;
  }
  .navigation-navigator > li > a {
    font-size: 2vw;
  }
  footer .copyright-panel {
    font-size: 2.2vw;
  }
}/*# sourceMappingURL=home.css.map */